.page-heading {
    padding: 2em 0 2em 0;
    position: relative;
    margin: 0 -15px 30px -15px;
    color: rgba(255,255,255,.5);
    background-color: #08698c;
    font-size: 1.5rem;
    background-image: url(img/bg.png);
}

.page-heading h1 {
    color: #fff;
}

li {
    margin-left: -25px;
}

.home-details{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .page-heading {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: left;
        font-size: 2rem;
    }

    .page-heading h1 {
        font-size: 6rem;
        line-height: 1;
        font-family: pt sans caption,Helvetica,Arial,sans-serif;
        font-weight: 700;
        color: #fff;
    }
}
