<header class="page-heading">
    <div class="container">
        <h1>Lychee Company</h1>
        <p>This is a template project created by Cornelio Cawicaan Jr. It uses Angular 4 on front end and Web API on backend.<br />This should cut down the development time when creating a new project so I could take more sideline</p>
        <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIP53E&amp;placement=startbootstrapcom" id="_carbonads_js"></script>
    </div>
</header>

<div class="home-details container">
    <div class="col-md-4">
        <h2><span class='glyphicon glyphicon-info-sign'></span> About</h2>
        <p>Lychee is founded by Cornelio and Jona on 2015.</p>
        <p>The company's goal is to get more get more clients and deliver a good quality product.</p>
        <a href="#" class="btn btn-default">Learn More</a>
    </div>
    <div class="col-md-4">
        <h2><span class='glyphicon glyphicon-gift'></span> Products</h2>
        <ul>
            <li>Tagalog Lessons App</li>
            <li>Rugby Score Tracker</li>
            <li>Frisco Payroll System</li>
            <li>Online Events Marketing App</li>
        </ul>
    </div>
    <div class="col-md-4">        
        <h2><span class='glyphicon glyphicon-earphone'></span> Contact Us</h2>
        <p>You may reach us through our <a href="mailto:cawicaancornelio@gmail.com">email</a> or contact us at 111 8482</p>
        <p>Our office is located at One Oasis Condominium Pasig City</p>
    </div>
</div>
