<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand' [routerLink]="['/home']"><span class='glyphicon glyphicon-th-large'></span> Lychee Corp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon glyphicon-home'></span> Home
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/counter']">
                            <span class='glyphicon glyphicon-education'></span> Counter
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                            <span class='glyphicon glyphicon-th-list'></span> Maintenance
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['/fetch-data']" href="#">Fetch Data</a></li>
                            <li><a href="/Account" class="dropdown-item">Manage Users</a></li>
                        </ul>
                    </li>


                </ul>
                <!--@await Html.PartialAsync("_LoginPartial")-->
            </div>
        </div>
    </nav>

</div>